<header
  class="cd-header flex flex-column flex-center"
  style="margin-top: 100px"
>
  <div class="text-component text-center">
    <h1>Physiomo FAQ</h1>
  </div>
</header>

<section
  class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg"
>
  <div class="cd-faq__items">
    <ul id="basics" class="cd-faq__group">
      <li class="cd-faq__item">
        <a class="cd-faq__trigger" href="#0"
          ><span>Was genau macht Physiomo?</span></a
        >
        <div class="cd-faq__content">
          <div class="text-component">
            <p>
              Wir verstehen uns als die #1 Anlaufstelle, wenn es um die
              Prävention, Genesung und das langfristige Gesundhalten deines
              Körpers geht. Mit Unterstützung von topausgebildeten
              Physiotherapeuten bieten wir dir passgenaue Übungen und
              Alltagstipps, um dich bei deinem Weg in ein körperlich gesundes
              und beschwerdefreies Leben zu unterstützen.
            </p>
          </div>
        </div>
        <!-- cd-faq__content -->
      </li>

      <li class="cd-faq__item">
        <a class="cd-faq__trigger" href="#0"
          ><span>Welche Vorteile bietet mir Physiomo als Patient?</span></a
        >
        <div class="cd-faq__content">
          <div class="text-component">
            <p>
              Als Onlineplattform ist unser großer Vorteil insbesondere die
              Fähigkeit, Ihnen bei akuten Schmerzen sofort die notwendigen
              Übungen und Gegenmaßnahmen per Videoanleitung zukommen zu lassen.
              Sie sparen sich neben dem Weg zum Arzt und dem anschließenden
              Warten auf einen Termin bei Ihrem Physiotherapeuten zusätzlich die
              Anfahrt. Außerdem bleiben Ihre Videos gespeichert, wodurch Sie die
              Übungen immer wieder nachmachen können und Ihre Erfolge in Ihrem
              eigenen Tracking-Tool mitschreiben können.
            </p>
          </div>
        </div>
        <!-- cd-faq__content -->
      </li>

      <li class="cd-faq__item">
        <a class="cd-faq__trigger" href="#0"
          ><span
            >Sind meine privaten Daten und meine Krankheitsbilder bei Physiomo
            sicher?</span
          ></a
        >
        <div class="cd-faq__content">
          <div class="text-component">
            <p>
              Ja. Alle deine Daten werden streng vertraulich behandelt und nur
              zum Zweck der optimalen Passung der Übungen zu deinem
              Krankheitsbild ausgewertet. Sie unterliegen den
              Datenschutzregelungen.
            </p>
          </div>
        </div>
        <!-- cd-faq__content -->
      </li>

      <li class="cd-faq__item">
        <a class="cd-faq__trigger" href="#0"
          ><span>Was kostet Physiomo?</span></a
        >
        <div class="cd-faq__content">
          <div class="text-component">
            <p>
              Das Basic-Abonnement beginnt schon bei 9,99€ im Monat, das
              Plus-Abonnement kostet 24,99€ und das Pro-Abonnement kostet 43,99€
              im Monat.
            </p>
          </div>
        </div>
        <!-- cd-faq__content -->
      </li>

      <li class="cd-faq__item">
        <a class="cd-faq__trigger" href="#0"
          ><span
            >Welche Systemvoraussetzungen muss ich erfüllen, um Physiomo nutzen
            zu können?</span
          ></a
        >
        <div class="cd-faq__content">
          <div class="text-component">
            <p>
              Es ist ein internetfähiges Gerät notwendig. Die Internet Browser
              Mozilla Firefox, Google Chrome oder auch Apple Safari können für
              die Videoberatung genutzt werden. Bei mobilen Geräten (Smartphone
              oder Tablet) wird das Betriebssystem iOS ab der Version 11.2 und
              Android Version 4 und höher benötigt.
            </p>
          </div>
        </div>
        <!-- cd-faq__content -->
      </li>

      <li class="cd-faq__item">
        <a class="cd-faq__trigger" href="#0"
          ><span
            >Brauche ich Erfahrung im Bereich Physiotherapie, um die Übungen
            ausführen zu können?</span
          ></a
        >
        <div class="cd-faq__content">
          <div class="text-component">
            <p>
              Nein, alle Übungen werden sehr ausführlich erklärt. Außerdem legen
              wir viel Wert auf leichte Übungen mit hohem Effekt. Dadurch wollen
              wir sicherstellen, dass jede Übung richtig ausgeführt wird und der
              Genesungsprozess optimale Fortschritte macht.
            </p>
          </div>
        </div>
        <!-- cd-faq__content -->
      </li>

      <li class="cd-faq__item">
        <a class="cd-faq__trigger" href="#0"
          ><span>Kann ich die Übungen speichern und offline schauen?</span></a
        >
        <div class="cd-faq__content">
          <div class="text-component">
            <p>
              Ja. Sie können in Ihrem persönlichen Konto alle Übungen speichern,
              um Sie offline abrufen zu können. Damit wollen wir sicherstellen,
              dass Sie immer Zugang dazu haben. Sobald Ihr Vertrag ausläuft,
              wird Ihr Konto gesperrt.
            </p>
          </div>
        </div>
        <!-- cd-faq__content -->
      </li>

      <li class="cd-faq__item">
        <a class="cd-faq__trigger" href="#0"
          ><span>Wenn Dinge unklar sind, kann ich Fragen stellen?</span></a
        >
        <div class="cd-faq__content">
          <div class="text-component">
            <p>
              Ja. Unser Support steht Ihnen gerne bei allen Fragen rund um XY
              von Mo. - Sa. 9-18 Uhr zur Seite. Diesen erreichen Sie problemlos
              unter support@xy.de
            </p>
          </div>
        </div>
        <!-- cd-faq__content -->
      </li>
    </ul>
    <!-- cd-faq__group -->
  </div>
  <!-- cd-faq__items -->
  <div class="w3-row-padding w3-center w3-padding-64">
    <button class="w3-button w3-teal w3-padding-large" (click)="back()">
      Zurück
    </button>
  </div>
</section>
<!-- cd-faq -->
