<!-- Page Content -->

<div
  class="w3-container w3-display-container w3-margin-top w3-margin-bottom w3-padding-top-64"
>
  <div class="w3-display-container mySlides w3-animate-left">
    <img src="../../assets/images/Digi Health.jpg" style="width: 100%" />
    <div
      class="w3-display-middle w3-large w3-container w3-padding-16 w3-white w3-left"
      style="margin-left: 450px; height: 150px"
    >
      Die künstliche Intelligenz von Physiomo gibt Ihnen bei akuten Beschwerden
      sofort die notwendigen und passgenauen Behandlungsvideos zur Hand - nie
      waren Sie schneller schmerzfrei!
    </div>
  </div>
  <div class="w3-display-container mySlides w3-animate-left">
    <img
      src="../../assets/images/GutOdayback-pain-e1512716257546.jpg"
      style="width: 100%"
    />
    <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-white">
      Sitzen ist das neue Rauchen!
    </div>
  </div>
  <div class="w3-display-container mySlides w3-animate-left">
    <img
      src="../../assets/images/MicrosoftTeams-image4.png"
      style="width: 100%"
    />
    <div
      class="w3-display-middle w3-large w3-container w3-padding-16 w3-white w3-center"
    >
      Wir wissen genau, wo es weh tut!
    </div>
  </div>
  <div class="w3-display-container mySlides w3-animate-left">
    <img
      src="../../assets/images/Gutneublog_image_20171113023255279.jpg"
      style="width: 100%"
    />
    <div
      class="w3-display-middle w3-large w3-container w3-padding-16 w3-white w3-center"
    >
      Lassen Sie sich bei uns beraten.
    </div>
  </div>

  <div class="w3-display-container mySlides w3-animate-left">
    <img
      src="../../assets/images/MicrosoftTeams-image.png"
      style="width: 100%"
    />
    <div
      class="w3-display-middle w3-large w3-container w3-padding-16 w3-white w3-center"
    >
      Mit Hilfe von künstlicher Intelligenz vergleicht Physiomo, von anerkannten
      Physioterapeuten vorgeschlagene, Behandlungen für die unterschiedlichsten
      Beschwerden.
    </div>
  </div>

  <div class="w3-display-container mySlides w3-animate-left">
    <img src="../../assets/images/GutSmiley.PNG" style="width: 100%" />
    <div
      class="w3-display-middle w3-large w3-container w3-padding-16 w3-transparent w3-white"
      style="margin-left: 500px"
    >
      Unsere Kunden haben es probiert und sind zufrieden!
    </div>
  </div>

  <div
    class="w3-center w3-container w3-section w3-large w3-text-teal w3-display-middle"
    style="width: 100%"
  >
    <button class="w3-button w3-left w3-teal" (click)="plusDivs(-1)">
      &#10094;
    </button>
    <button class="w3-button w3-right w3-teal" (click)="plusDivs(1)">
      &#10095;
    </button>
  </div>

  <div
    class="w3-center w3-container w3-section w3-large w3-text-teal w3-display-bottommiddle"
    style="width: 100%"
  >
    <span
      class="w3-badge demo w3-border w3-border-teal w3-transparent w3-hover-teal lespoints"
      (click)="currentDiv(1)"
    ></span>
    <span
      class="w3-badge demo w3-border w3-border-teal w3-transparent w3-hover-teal lespoints"
      (click)="currentDiv(2)"
    ></span>
    <span
      class="w3-badge demo w3-border w3-border-teal w3-transparent w3-hover-teal lespoints"
      (click)="currentDiv(3)"
    ></span>
    <span
      class="w3-badge demo w3-border w3-border-teal w3-transparent w3-hover-teal lespoints"
      (click)="currentDiv(4)"
    ></span>
    <span
      class="w3-badge demo w3-border w3-border-teal w3-transparent w3-hover-teal lespoints"
      (click)="currentDiv(5)"
    ></span>
    <span
      class="w3-badge demo w3-border w3-border-teal w3-transparent w3-hover-teal lespoints"
      (click)="currentDiv(6)"
    ></span>
  </div>
</div>

<!-- Referenzen Zeile -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">
  <div class="w3-row-padding w3-center">
    <div class="w3-quarter"><br /></div>
    <div class="w3-half">
      <h3>Physiomo – Ihr Ratgeber für maximale Gesundheit!</h3>
      <p class="breackText">
        Physiomo – Ihr Ratgeber für maximale Gesundheit! Das Team von Physiomo
        hat es sich zur Aufgabe gemacht, ganz unkompliziert dafür zu sorgen,
        dass Sie sich wohl fühlen. Anhand von individuell auf ihre Bedürfnisse
        zugeschnittenen Videos, beugen wir Ihren Beschwerden vor und beheben
        akute Schmerzen. Unsere Übungen können dabei jederzeit von unterwegs
        oder zu Hause abgerufen werden. Mit uns bleiben Sie fit und gesund!
      </p>

      <p>
        <span class="w3-large">Unsere Schwerpunkte:</span> Oberkörper, Rücken,
        Knie, etc...
      </p>

      <div class="padding-top-32">
        <h3>Das sagen unsere Kunden über uns:</h3>
      </div>
    </div>
    <div class="w3-quarter"></div>
  </div>

  <div class="w3-quarter">
    <div class="w3-card w3-white">
      <img
        src="../../assets/images/KundenErlebnis/Erfahrung7.jpeg"
        alt="Snow"
        style="width: 100%; min-height: 20rem"
      />
      <div class="w3-container">
        <h3><b>Alex Glück</b></h3>
        <h4>Mediendesigner und Freizeitsportler</h4>
        <p>
          Durch die tolle Lösung von Physiomo verbringe ich endlich keine
          verschenkte Zeit mehr in Wartezimmern und Behandlungsräumen, sondern
          kann mich wieder meinen Hobbies widmen.
        </p>

        <p class="w3-right-align">3.01.2021</p>
      </div>
    </div>
  </div>

  <div class="w3-quarter">
    <div class="w3-card w3-white">
      <img
        src="../../assets/images/KundenErlebnis/Erfahrung5.jpg"
        alt="Lights"
        style="width: 100%; min-height: 20rem"
      />
      <div class="w3-container">
        <h3><b>Olivia Grant</b></h3>
        <h4>Journalistin und Mutter</h4>
        <p>
          Die einfachen, aber sehr effektiven Videos, die genau auf meine
          Probleme zugeschnitten sind, lassen mich wieder mit meinen Kindern
          spielen und den Tag mit einem Lachen starten.
        </p>

        <p class="w3-right-align">22.12.2020</p>
      </div>
    </div>
  </div>

  <div class="w3-quarter">
    <div class="w3-card w3-white">
      <img
        src="../../assets/images/KundenErlebnis/Erfahrung6.jpeg"
        alt="Mountains"
        style="width: 100%; min-height: 20rem"
      />
      <div class="w3-container">
        <h3><b>Emilia Kotta</b></h3>
        <h4>Studentin</h4>
        <p>
          Mitten im Staatsexamen bekam ich starke Rückenschmerzen. Nur durch
          Physiomo konnte ich zuhause die effektiven Übungen machen und so mein
          Studium beenden.
        </p>

        <p class="w3-right-align">10.01.2021</p>
      </div>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-card w3-white">
      <img
        src="../../assets/images/KundenErlebnis/Mechanic.jpg"
        alt="Snow"
        style="width: 100%; min-height: 20rem"
      />
      <div class="w3-container">
        <h3><b>Ingo Minsk</b></h3>
        <h4>KFZ-Mechaniker</h4>
        <p>
          Mein Beruf verlangt physische Fitness und einen gesunden Körper. Neben
          meiner gesunden Ernährung ist Physiomo die perfekte Ergänzung, um fit
          durchs Leben zu gehen.
        </p>

        <p class="w3-right-align">16.01.2021</p>
      </div>
    </div>
  </div>
</div>

<!-- Abonnement  -->
<div class="w3-row-padding w3-center w3-padding-64" id="pricing">
  <h2><b>Behandlungsarten</b></h2>

  <p>Wählen Sie eine Behandlungsart, die zu Ihren Bedürfnissen passt.</p>
  <br />
  <div class="w3-third w3-margin-bottom">
    <ul class="w3-ul w3-border w3-hover-shadow">
      <li class="w3-theme">
        <p class="w3-xlarge">Basic</p>
      </li>
      <li class="w3-padding-16"><b>2 Video</b> Pro Woche</li>
      <li class="w3-padding-16"><b>max 24 Videos </b></li>
      <li class="w3-padding-16"><b>Betreuung per E-Mail</b></li>
      <li class="w3-padding-16"><b>Betreuung per WhatsApp</b></li>
      <li class="w3-padding-16"><b>/</b></li>
      <li class="w3-padding-16"><b>/</b></li>
      <li class="w3-padding-16"><b>/</b></li>
      <li class="w3-padding-16">
        <h2 class="w3-wide">9,99 <i class="fa fa-euro"></i></h2>
        <span class="w3-opacity">pro Monat</span>
      </li>
      <li class="w3-theme-l5 w3-padding-24">
        <button
          class="w3-button w3-teal w3-padding-large"
          (click)="onRegister()"
        >
          Registrieren
        </button>
      </li>
    </ul>
  </div>

  <div class="w3-third w3-margin-bottom">
    <ul class="w3-ul w3-border w3-hover-shadow">
      <li class="w3-theme-l2">
        <p class="w3-xlarge">Plus</p>
      </li>
      <li class="w3-padding-16"><b>4 Videos</b> Pro Woche</li>
      <li class="w3-padding-16"><b>max 45 Videos im Monat</b></li>
      <li class="w3-padding-16"><b>Betreuung per E-Mail</b></li>
      <li class="w3-padding-16"><b>Betreuung per WhatsApp</b></li>
      <li class="w3-padding-16"><b>/</b></li>
      <li class="w3-padding-16"><b>Jederzeit </b>kündigen</li>
      <li class="w3-padding-16"><b>/</b></li>
      <li class="w3-padding-16">
        <h2 class="w3-wide">24,99 <i class="fa fa-euro"></i></h2>
        <span class="w3-opacity">pro Monat</span>
      </li>
      <li class="w3-theme-l5 w3-padding-24">
        <button
          class="w3-button w3-teal w3-padding-large"
          (click)="onRegister()"
        >
          Registrieren
        </button>
      </li>
    </ul>
  </div>

  <div class="w3-third w3-margin-bottom">
    <ul class="w3-ul w3-border w3-hover-shadow">
      <li class="w3-theme">
        <p class="w3-xlarge">Pro</p>
      </li>
      <li class="w3-padding-16"><b>6 Videos</b> Pro Woche</li>
      <li class="w3-padding-16"><b>max 72 Videos im Monat</b></li>
      <li class="w3-padding-16"><b>Betreuung per E-Mail</b></li>
      <li class="w3-padding-16"><b>Betreuung per WhatsApp</b></li>
      <li class="w3-padding-16"><b>Betreuung per Telefon</b></li>
      <li class="w3-padding-16"><b>Jederzeit </b> kündigen</li>
      <li class="w3-padding-16">
        <b>Direkt Kontakt </b> mit Physiotherapeuten
      </li>
      <li class="w3-padding-16">
        <h2 class="w3-wide">43,99 <i class="fa fa-euro"></i></h2>
        <span class="w3-opacity">Pro Monat</span>
      </li>
      <li class="w3-theme-l5 w3-padding-24">
        <button
          class="w3-button w3-teal w3-padding-large"
          (click)="onRegister()"
        >
          Registrieren
        </button>
      </li>
    </ul>
  </div>
</div>
<div
  class="w3-row-padding w3-center w3-padding-64 w3-theme-l1"
  style="margin-top: 20px"
>
  <h2><b>Weitere Fragen?</b></h2>
  <p>Wir haben einige der häufigsten Fragen in einem FAQ beantwortet</p>
  <button class="w3-button w3-teal w3-padding-large" (click)="onFaq()">
    Zu den FAQ's
  </button>
</div>
<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
      <div class="w3-padding-16">
        <span class="w3-xlarge w3-border-teal w3-bottombar"
          >Uns kontaktieren</span
        >
      </div>
      <h3>Anschrift</h3>
      <p>
        <i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Magdeburger
        Straße, 14770 Brandenburg an der Havel
      </p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +0049 123456789</p>
      <p>
        <i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  test@test.de
      </p>
      <br /><br /><br />
      <div>
        <a>IMPRESSUM</a>
        <p
          style="
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 8pt;
            margin-left: 0cm;
            line-height: 107%;
            font-size: 15px;
            font-family: 'Calibri', sans-serif;
          "
        >
          Rechtsform: UG
        </p>
        <p
          style="
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 8pt;
            margin-left: 0cm;
            line-height: 107%;
            font-size: 15px;
            font-family: 'Calibri', sans-serif;
          "
        >
          Mail: kontakt@xy.de&nbsp;
        </p>
        <p
          style="
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 8pt;
            margin-left: 0cm;
            line-height: 107%;
            font-size: 15px;
            font-family: 'Calibri', sans-serif;
          "
        >
          Telefon: +49 123 456789
        </p>
        <p
          style="
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 8pt;
            margin-left: 0cm;
            line-height: 107%;
            font-size: 15px;
            font-family: 'Calibri', sans-serif;
          "
        >
          Adresse: Magdeburger Stra&szlig;e 50, 14770 Brandenburg an der Havel
        </p>
        <p
          style="
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 8pt;
            margin-left: 0cm;
            line-height: 107%;
            font-size: 15px;
            font-family: 'Calibri', sans-serif;
          "
        >
          Vertretungsberechtigter: Lars Lemke
        </p>
        <p
          style="
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 8pt;
            margin-left: 0cm;
            line-height: 107%;
            font-size: 15px;
            font-family: 'Calibri', sans-serif;
          "
        >
          Register: Amtsgericht Brandenburg an der Havel HRBXXX
        </p>
        <p
          style="
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 8pt;
            margin-left: 0cm;
            line-height: 107%;
            font-size: 15px;
            font-family: 'Calibri', sans-serif;
          "
        >
          Steuernummer:
          <span style="font-size: 14px; line-height: 107%"
            >Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect;27a
            Umsatzsteuergesetz<span style="color: #555555"
              >: DEXXXXXXX</span
            ></span
          >
        </p>
        <p>
          <span
            style="
              font-size: 15px;
              line-height: 107%;
              font-family: 'Calibri', sans-serif;
            "
            >Inhaltlich verantwortlich: Lars Lemke, Tim Gottschreiber, Alexander
            Jung, Nico Fuchs, <br />&nbsp;Laura Katharina, Simon Sellner, Maryna
            Kyrylyuk, Danielle Mada&rsquo;a Kamta</span
          >
        </p>
      </div>
    </div>
    <div class="w3-col m7">
      <form
        [formGroup]="checkoutForm"
        class="w3-container w3-card-4 w3-padding-16 w3-white"
        action="/action_page.php"
        target="_blank"
      >
        <div class="w3-section">
          <label>Name</label>
          <input class="w3-input" type="text" name="Name" required />
        </div>
        <div class="w3-section">
          <label>Email</label>
          <input
            class="w3-input"
            type="text"
            name="Email"
            required
            formControlName="name"
          />
        </div>
        <div class="w3-section">
          <label>Nachricht</label>
          <textarea
            class="form-control"
            id="comments"
            name="comments"
            placeholder="Schreiben Sie hier..."
            rows="5"
            style="width: 100%; height: 200px"
            formControlName="message"
          ></textarea>
        </div>
        <button
          type="submit"
          (click)="onSubmit()"
          class="w3-button w3-right w3-theme"
        >
          Senden
        </button>
      </form>
    </div>
  </div>
</div>
