<ngx-json-ld [json]="schema"></ngx-json-ld>
<div class="main background">
  <app-nav-bar></app-nav-bar>
  <router-outlet></router-outlet>

  <!-- <app-admin></app-admin> -->
</div>
<app-footer></app-footer>
<!--
  <section class="view intro-video">
    <video class="video-fluid" autoplay loop  [muted]="true"   >
      <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" />
  </video>
  <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
</section> -->
